/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  img {
    max-height: 90vh;
  }
}
